{{!-- <h1>Today's weather in {{name}}: {{temp}} *C</h1> --}}
{{!-- <a class="btn-style" href="/weather">What's the weather?</a> --}}


<h1>Today's weather in {{name}}:</h1>
    <ul>
        {{#each data}}
            <li>{{@key}} : {{this}}</li>
        {{/each}}
    </ul>
<br>
<a class="btn-style" href="/weather">What's the weather?</a>